.status-board__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.status-board__banner {
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;

    color: white;
    font-size: 1.25em;
    font-weight: 500;
}

.status-board--success {
    background-color: green;
}

.status-board--warning {
    background-color: rgb(158, 158, 11);
}

.status-board--error {
    background-color: red;
}